body {
  margin: 0;
  background: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: ;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

h1 {
  float: left;
  padding: 0px 0;
  margin-left: 70px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}

nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a: hover{
  color: black;
}

nav a::before{
  content:'';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before{
  width: 100%;

}

.center-column {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.center-column h2 {
  font-size: 5rem;
  font-weight: 700;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  width: 80%;
  text-align: center;
}

.about-me h3 {
  font-size: 2rem;
}

.contact-me h3 {
  font-size: 2rem;
}

.containerT{
  width: 100%;
  height: 100px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA{
  font-size: 25px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  padding-left: 50px;
}

.item1{
  display: flex;
  background-color: #ffffff00;
  justify-content: flex-start;
  flex-direction: column;
}

.item3{
  display: flex;
  background-color: #ffffff00;
  justify-content: flex-start;
  flex-direction: column;
}


.containerB{
  font-size: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.containerC{
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  padding-left: 50px;
}

.containerD{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  padding-left: 100px;
  width: 90%;
}

.item2{
  display: flex;
  background-color: #ffffff00;
  justify-content: flex-start;
  flex-direction: column;
}

.item4{
  display: flex;
  background-color: #ffffff00;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 200px;
}
